.git
.gitignore
.env
.env.example
README.md
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db 