@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el autocompletado */
@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: rgba(255, 255, 255, 0.9) !important;
        -webkit-box-shadow: 0 0 0px 1000px #181818 inset !important;
        transition: background-color 5000s ease-in-out 0s;
        border-radius: 49px !important;
        caret-color: white;
    }
}
